h1, 
h2, 
h3, 
p {
  font-family: "Helvetica", sans-serif;
}

h1 { 
  text-align: center;
  font-size: 100px;
  color: whitesmoke;
}

.item h2 {
  font-size: 32px;
  color: white;
}

.price {
  font-weight: bold;
  color: blue;
}

#dog {
  background-color: mediumspringgreen;
}

#Wasabi {
  background-color: lightcoral;
}

#breeds {
  background-color: skyblue;
}